// blocks - fix padding bottom in the last block //
header ~ .elementor {
    &[data-elementor-type="wp-page"],
    &[data-elementor-type="single-page"] {
        position: relative;
        z-index: 100;

        > .elementor-element:not(:last-of-type) {
            //&+.elementor-element:not(:last-of-type) {
                // template //
                > .elementor-widget {
                    > .elementor-widget-container {
                        > .elementor-template {
                            > .elementor {
                                > .elementor-element {
                                     &:not(.block-content):not(.block-cta-our-history):not(.block-cta-our-products):not(.block-cta-eirebloc):not(.block-cta-documents):not(.block-cta-sustainability):not(.block-featured-gallery) {
                                        @include for-screen-landscape {
                                            //padding-bottom: var(--gap-vertical-small);
                                            //border: 1px solid red;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            //}

            /*
            &:nth-child(2) {
                // template //
                > .elementor-widget {
                    > .elementor-widget-container {
                        > .elementor-template {
                            > .elementor {
                                > .elementor-element {
                                    padding-top: var(--gap-vertical-small);
                                }
                            }
                        }
                    }
                }
            }
            */
        }

        > .elementor-element:last-of-type {
            // template //
            > .elementor-widget {
                > .elementor-widget-container {
                    > .elementor-template {
                        > .elementor {
                            > .elementor-element {
                                &:not(.block-cta-our-history):not(.block-cta-our-products):not(.block-cta-eirebloc):not(.block-cta-our-locations):not(.block-featured-gallery) {
                                    //padding-bottom: var(--gap-vertical-x-large);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// -- //

// block - container, templates //
.block-container {
    &-template {
        &-content {
            &-2 {

            }
        }

        &-contact-form {}
        
        &-cta-documents {}

        &-cta-eirebloc {}
        
        &-cta-our-locations {}
        
        &-cta-our-products {}
        
        &-cta-our-history {}
        
        &-cta-sustainability {}

        &-featured-gallery {}

        &-featured-map {}
        
        &-featured-video {}

        &-loop-documents {
            ~ .block-container-template-featured-gallery {
                .elementor-element {
                    padding-top: 0 !important;
                }
            }
        }

        &-loop-products {}

        &-timeline {}
    }

    > .elementor-element:not(:last-of-type) {
        &:not(.block-container-template-content):not(.block-container-template-cta-documents):not(.block-container-template-cta-eirebloc):not(.block-container-template-cta-our-locations):not(.block-container-template-cta-our-products):not(.block-container-template-cta-our-history):not(.block-container-template-featured-gallery) {
            //@include for-screen-landscape {
                padding-bottom: 0;
                //border: 1px solid red;
            //}
        }
    }

    > .elementor-element:last-of-type {
        &:not(.block-container-template-content):not(.block-container-template-cta-documents):not(.block-container-template-cta-eirebloc):not(.block-container-template-cta-our-locations):not(.block-container-template-cta-our-products):not(.block-container-template-cta-our-history):not(.block-container-template-featured-gallery) {
            //@include for-screen-landscape {
                padding-bottom: var(--gap-vertical-x-large);
            //}
        }
    }
}

// -- //

// block - anchor intro //
.block-anchor-intro {
    --height-base: 1px;
}

// block - contact form //
.block-contact-form {
    .component-form {}

    .component-sidebar {}
}

// block - content //
.block-content {
    //border: 5px solid red;

    .component-article {
        //border: 5px solid red;
    }

    .component-sidebar {
        //border: 5px solid red;

        .component-loop-features {
            .dce-acf-repeater {
                display: flex;
                flex-direction: column;
                gap: var(--gap-small);

                @include for-phone-only  {
                    //gap: var(--gap-regular);
                }
            }

            &-item {
                .component-imagery {
                    &-image,
                    &-video {
                        aspect-ratio: 16/9;
                        
                        @include for-phone-only  {
                            width: var(--width-4);
                        }
                    }
                }
            }
        }
    }

    &-2 {
        //border: 5px solid red;

        .component-article {
            //border: 5px solid red;
        }

        .elementor-widget-video {
            .elementor-widget-container {
                overflow: inherit;

                video {
                    border-radius: var(--border-radius-small);
                }
            }
        }
    }
}

// block - cta - documents //
.block-cta-documents {}

// block - cta - eirebloc //
.block-cta-eirebloc {}

// block - cta - our locations //
.block-cta-our-locations {}

// block - cta - our products //
.block-cta-our-products {}

// block - cta - our history //
.block-cta-our-history {}

// block - cta - sustainability //
.block-cta-sustainability {}

// block - featured gallery //
.block-featured-gallery {
    --height-base: 4em;

    @include for-phone-only {
        --height-base: 2em;
        --gap-x-small: .25em;
    }

    .elementor-widget-image-carousel {
        .elementor-image-carousel-wrapper {
            overflow: hidden;

            img {
                aspect-ratio: 16/9;
                object-fit: cover;
            }
        }
    }

    .elementor-swiper-button-prev {
        left: var(--gap-x-small) !important;

        @include for-phone-only {
        }
    }
    .elementor-swiper-button-next {
        right: var(--gap-x-small) !important;

        @include for-phone-only {
        }
    }
}

// block - featured map //
.block-featured-map {
    .dce-osm-wrapper {
        border-radius: var(--border-radius-small);
        pointer-events: none !important;

        .leaflet-marker-pane,
        .leaflet-popup-pane {
            pointer-events: all !important;
        }

        .leaflet-proxy {
            //pointer-events: none !important;
        }

        .leaflet-control-attribution {
            .leaflet-attribution-flag {
                display: none !important;
            }
        }
    }

    svg {
        color: var( --e-global-color-text ) !important;
    }
}

// block - featured video //
.block-featured-video {
    .component-video {
        .elementor-custom-embed-play {
            svg {
                width: calc( 3 * var(--height-base) );
                color: var( --e-global-color-secondary ) !important;

                @include for-phone-only {
                    width: calc( 2 * var(--height-base) );
                }
            }
        }
    }
}

// block - footer //
.block-footer {
    &-about {
         .component-logo {
            --height-base: 5em;

            svg {
                display: block;
                width: auto;
                height: var(--height-base);

                .tree {
                    opacity: .6;
                    fill: var(--e-global-color-primary);
                }

                .lettering {
                    fill: var(--e-global-color-secondary);
                }
            }
        }
    }

    &-menus {}

    &-certifications {
        .item {
            --height-base: 3em;
            --gap-xx-small: .25em;

            img {
                display: block;
                width: auto;
                height: var(--height-base);
            }
        }
    }

    &-locations {
        .item {
            .elementor-widget-icon-list {
                svg {
                    height: .8em;
                    color: var(--e-global-color-secondary);
                }
            }
        }
    }

    &-copyright {}
}

// block - header //
.block-header {
    .component-logo {
        --height-base: 4em;

        @include for-big-desktop-up {
            --height-base: 5em;
        }

        svg {
            display: block;
            width: auto;
            height: var(--height-base);

            .tree {
                fill: var(--e-global-color-primary);
            }

            .lettering {
                fill: var(--e-global-color-accent);
            }
        }
    }
}

// block - inner navigation //
.block-inner-navigation {}

// block - loop documents //
.block-loop-documents {}

// block - loop products //
.block-loop-products {
    .dce-posts-wrapper {
        //gap: var(--gap-large);

        .dce-post-item {
            padding: 0 var(--gap-x-small);

            //opacity: .75;
            //transform: scale(.95);
            //transition: all .5s ease-in;

            &.swiper-slide-active {
                //opacity: 1;
                //transform: scale(1);
            }
        }
    }

    .dce-carousel-controls {
        .swiper-button {
            &-right,
            &-left {
                --height-base: 4em;

                @include for-phone-only {
                    --height-base: 2em;
                }

                width: var(--height-base) !important;
                height: var(--height-base) !important;

                margin-top: 0 !important;
            }
        }
    }

    .dce-container-navigation {
        svg {
            display: block;
            width: 100%;
            height: auto !important;
        }
    }
}

// block - page headline //
.block-page-headline {
    --height-base: calc( 100vh - ( 2 * var(--gap-vertical-small) + ( 2.5em + 4em )  ) );

    height: var(--height-base);

    @include for-tablet-portrait-only {
        --height-base: calc( 66vh - ( 2 * var(--gap-vertical-small) + ( 3em + 4em )  ) );
    }

    @include for-big-desktop-up {
        --height-base: calc( 100vh - ( 2 * var(--gap-vertical-small) + ( 2.5em + 5em )  ) );
    }

    @include for-phone-only {
        --height-base: calc( 100vh - ( 2 * var(--gap-vertical-small) + 4em  ) );
    }

    // background //
    &.hero {
        &-background {
            .component-headings {
                .component-button-scroll-down {
                    opacity: .75 !important;
                }
            }

            .component-imagery {
                &-image {}

                &-video {}
            }
        }
    }

    // right side //
    &.hero {
        &-right-side {
            .component-headings {}

            .component-imagery {
                &-image {}

                &-video {}
            }
        }
    }
}

// block - pre-header //
.block-pre-header {
    --height-base: 2.5em;
    
    .component-the-group {
        .elementor-heading-title {
            font-size: var(--font-size-xx-small) !important;
        }

        .elementor-widget-icon-list {
            svg {
                margin-right: 0 !important;
            }
        }
    }
}

// block - spacer //
.block-spacer {
    &-documents {
        --spacer-size: calc( 5 * var(--height-base) );
    }
    
    &-footer {
        @include for-phone-only {
            --spacer-size: calc( 1 * var(--height-base) );
        }
    }

    &-footer-copyright {
        --spacer-size: calc( .5 * var(--height-base) );

        @include for-phone-only {
            --spacer-size: calc( .25 * var(--height-base) );
        }
    }

    &-sustainability {
        --spacer-size: calc( 10 * var(--height-base) );

        @include for-phone-only {
            --spacer-size: calc( 5 * var(--height-base) );
        }
    }

    &-welcome {
        @include for-phone-only {
            --spacer-size: 3em;
        }
    }
}

// block - timeline //
.block-timeline {
    .component-loop-timeline {
        .dce-acf-repeater {
            display: flex;
            flex-direction: column;
            gap: var(--gap-regular);

            @include for-phone-only  {
                //gap: var(--gap-regular);
            }
        }

        &-item {
            .component-imagery {
                &-image,
                &-video {
                    aspect-ratio: 1/1;
                    
                    @include for-phone-only  {
                        width: var(--width-4);
                    }
                }
            }
        }
    }
}