// component - breadcrumbs //
.component-breadcrumbs {
    .smartcrawl-breadcrumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-x-small);

        font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
        font-size: var(--font-size-x-small);
        font-weight: var( --e-global-typography-accent-font-weight );
        //text-transform: var( --e-global-typography-accent-text-transform );
        text-transform: uppercase;
        letter-spacing: var( --e-global-typography-accent-letter-spacing );
        word-spacing: var( --e-global-typography-accent-word-spacing );

        &, a {
            color: var(--e-global-color-primary);
        }

        .smartcrawl-breadcrumb {
            &-separator {

            }

            strong {
                color: var(--e-global-color-text);
                font-weight: inherit;
            }
        }
    }

    @at-root {
        .block-page-headline {
            &.hero {
                &-background {
                    .smartcrawl-breadcrumbs {
                        &, a {
                            color: var( --e-global-color-85a1542 );

                            .smartcrawl-breadcrumb {
                                strong {
                                    color: var( --e-global-color-85a1542 );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// component - buttons //
.component-buttons {}

.component-button {
    &-primary,
    &-secondary {
    }

    &-scroll-down {
        font-size: 80%;
    }
}

// component - headings //
.component-headings {}

.component-heading {
    &-primary {
        text-wrap: balance;
    }

    &-secondary {
    }

    &-primary,
    &-secondary {
    }
}

// component - imagery //
.component-imagery {
    &-image,
    &-video,
    &-mosaic {
    }

    &-mosaic {
        .component-grid {
            .item {
                aspect-ratio: 1/1;
            }
        }
    }
}

// component - menu // 
.component-menu {
    // header //
    &-header {}

    // header - contact //
    &-header-contact {}

    // footer //
    &-footer {
        @include for-phone-only {
            ul {
                li {
                    a {
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    // footer - contact //
    &-footer-contact {
        @include for-phone-only {
            ul {
                li {
                    a {
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    // social //
    &-footer-social {
        svg {
            margin-right: var(--gap-x-small);
            font-size: var(--font-size-x-small);
        }

        @include for-phone-only {
            ul {
                li {
                    a {
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    // copyright //
    &-copyright {}
}